!!! 5
html(lang="en")
    head

    body
        h2 Auth
        if auth_error
            span Auth Error from QNAP: 
            input(value="#{auth_error}", readonly=true, size = 100)
        else
            span Auth Code from QNAP: 
            input(value="#{auth_code}", readonly=true, size = 100)

        hr

        if token_response && token_response.result
            h2 Get Token

            span Status Code: #{token_response.code}
            br
            span Message: #{token_response.message}
            br
        
            span Access Token: 
            input(value="#{token_response.result.access_token}", readonly=true, size = 100)
            br
            span Expired: 
            input(value="#{token_response.result.expires_in}", readonly=true, size = 100)
            br
            br
            span Refresh Token:
            input(value="#{token_response.result.refresh_token}", readonly=true, size = 100)

        hr

        if me_response

            h2 Get /me

            span Status Code: #{me_response.code}
            br
            span Message: #{me_response.message}
            br

            span Email: #{me_response.result.email}
            br
            span First Name: #{me_response.result.first_name}
            br
            span Last Name: #{me_response.result.last_name}
            br
            