<!DOCTYPE html>
<html lang="en">
<head>
    <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
    <link href='css/bootstrap-glyphicons.css' rel='stylesheet' type='text/css'/>
    <script src='js/jquery-1.10.2.min.js' type='text/javascript'></script>
    <script src='js/bootstrap.min.js' type='text/javascript'></script>
</head>

<body>

    <div class="container">
        <p></p>
        <p>
            <a class="btn btn-primary" href="<%=auth_server%>/auth/signout?app_id=<%=app.app_id%>&state=backend&redirect_uri=<%=app.redirect_uri%>">Signout</a>
            <a class="btn btn-primary" href="<%=auth_server%>/auth/profile?app_id=<%=app.app_id%>&state=backend&redirect_uri=<%=app.redirect_uri%>">Profile</a>
        </p>


        <div id="auth" class="panel">
            <div class="panel-heading">
                <h1 class="panel-title">Authentication</h1>
            </div>
            <span>Auth Code from QNAP:</span>
            <input value="<%=auth_code%>", readonly=true, size=100>
            <% if (auth_code) { %>
                <a class="btn btn-primary" href="./oauth?app_id=<%=app.app_id%>&status=exchange_code&redirect_uri=<%=app.redirect_uri%>&code=<%=auth_code%>">Get Access Token</a>
                <% if (exchange_code_response) { %>
                <p></p>
                <span>Response: </span>
                <pre><%= JSON.stringify(exchange_code_response, null, 2)%></pre>
                <% } %>
            <% } %>
        </div>

    <% if (token_response) { %>
        <div id="token" class="panel">
            <div class="panel-heading">
                <h1 class="panel-title">Access Token</h1>
            </div>

            <span>Access Token: </span>
            <input value="<%= token_response.access_token%>", readonly=true, size=100>
            <br/>
            <span>Expires In: <%= token_response.expires_in%></span>
            <br/>
            <span>Scopes: </span>
            <ul>
            <% token_response.scope.forEach(function(scope) { %>
            <li><%=scope%></li>
            <% }) %>
            </ul>
            <span>Refresh Token:</span>
            <input value="<%= token_response.refresh_token%>", readonly=true, size=100>
        </div>
    <% } else { %>
    <div id="token" class="panel">
        <div class="panel-heading">
            <h1 class="panel-title">Access Token</h1>
        </div>

        <span>Access Token: </span>
        <input value="", readonly=true, size=100>
        <br/>
        <span>Expires In: </span>
        <br/>
        <span>Scopes: </span>
        <span>Refresh Token:</span>
        <input value="", readonly=true, size=100>
    </div>
<% } %>


    <% if (me_response) { %>

        <div id="me" class="panel">
            <div class="panel-heading">
                <h1 class="panel-title">Get /me</h1>
            </div>

            <div class="lead">
                API is invoked from backend, and render it to browser.
            </div>

            <span>Response: </span>
            <pre><%= JSON.stringify(me_response, null, 2)%></pre>
        </div>
    <% } %>
    </div>
</body>
</html>
